I del 1 av Oppgave 3 ser vi en data frame som henter ut et sample av 10 linjer med data og plasserer de i sine respektive kolonner. Det har vi løst med list comprehension. Vi ser også at manglende verdier blir fylt med NaN. 

I vårt prosjekt ser vi i hovedsak på vind-retning og -hastighet. Dette er verdier **. Derfor kjører vi en annen funksjon nedenfor som eksluderer irrelevante kolonner for vårt prosjekt.

In [1]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_wind as dataframe

#variabler 
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed", "Gust_speed", "QNH"]

#Henter filene fra data mappa
file_paths = {
    "ENOL": '../data/json/ENOL_metar_data.json',
    "ENBO": '../data/json/ENBO_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        print(f"filene {file_path} er lagret i dataframe for {airport}")

df_ENBO = dfs.get("ENBO")
df_ENOL = dfs.get("ENOL")
df_ENOL.to_csv('../data/csv/ENOL_metar_data.csv', index = False)
df_ENBO.to_csv('../data/csv/ENBO_metar_data.csv', index = False)
print("data frame av ENOL som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, er lagert i folder: data" )
print("data frame av ENBO som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, lagert i folder: data" )

filene ../data/json/ENOL_metar_data.json er lagret i dataframe for ENOL
filene ../data/json/ENBO_metar_data.json er lagret i dataframe for ENBO
data frame av ENOL som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, er lagert i folder: data
data frame av ENBO som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, lagert i folder: data

Henter ut et sample for Bodø og Ørland.

In [2]:
df_ENBO.sample(10)

    Airport Date/time Wind_direction Wind_speed Gust_speed   QNH
285    ENBO   120020Z            200         15        NaN  0994
227    ENBO   150020Z            280          8        NaN  1010
80     ENBO   210020Z            220         19        NaN  1012
58     ENBO   280020Z            120         11        NaN  0997
101    ENBO   110020Z            260         26        NaN  0995
176    ENBO   250020Z            110         10        NaN  1010
206    ENBO   250020Z            310          3        NaN  1016
43     ENBO   130020Z            100         29        NaN  1009
160    ENBO   090020Z            100         11        NaN  1000
29     ENBO   300020Z            260         27        NaN  1007

In [3]:
df_ENOL.sample(10)

    Airport Date/time Wind_direction Wind_speed Gust_speed   QNH
153    ENOL   020020Z            130          3        NaN  1021
225    ENOL   130020Z            120         12        NaN  1013
34     ENOL   040020Z            300         27         37  0985
20     ENOL   210020Z            130         25        NaN  0999
49     ENOL   190020Z            130         11        NaN  1014
21     ENOL   220020Z            140         25        NaN  0980
239    ENOL   270020Z            250         19        NaN  1012
187    ENOL   060020Z              0          0        NaN  0993
228    ENOL   160020Z            230         12        NaN  0995
160    ENOL   090020Z             90          8        NaN  0994