In [2]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_metar as dataframe

#variabler 
#column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed"]

column_names = ["Airport", "Date/time", "Wind/direction", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temp/dewpoint", "QNH/pressure"]
#Henter filene fra data mappa
file_paths = {
    "ENOL": '../data/json/ENOL_metar_data.json',
    "ENBO": '../data/json/ENBO_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene {file_path} er lagret i dataframe for {airport}")

df_ENBO = dfs.get("ENBO")
df_ENOL = dfs.get("ENOL")

#Sjekker om dataene er lastet inn i dataframes
df_ENBO.sample(10)

filene ../data/json/ENOL_metar_data.json er lagret i dataframe for ENOL
filene ../data/json/ENBO_metar_data.json er lagret i dataframe for ENBO

,Airport,Date/time,Wind/direction,Variable wind,Cloud 1,Cloud 2,Cloud 3,Cloud 4,Cloud 5,Temp/dewpoint,QNH/pressure
11950,ENBO,030620Z,10014KT,NaN,NaN,FEW030,SCT060,NaN,NaN,15/11,Q1017
10372,ENBO,011120Z,25011KT,NaN,NaN,FEW025,NaN,BKN060,NaN,15/10,Q1012
4466,ENBO,020750Z,10014KT,NaN,CAVOK,NaN,NaN,NaN,NaN,M04/M13,Q1017
13081,ENBO,261250Z,35014KT,NaN,NaN,FEW024,SCT038,BKN160,NaN,10/04,Q0992
4944,ENBO,120450Z,16005KT,NaN,NaN,NaN,SCT048,NaN,NaN,04/M03,Q1008=
2711,ENBO,251620Z,17017KT,NaN,NaN,NaN,NaN,BKN051,NaN,05/M02,Q0989
16159,ENBO,282250Z,27032KT,NaN,NaN,NaN,SCT006,BKN008,NaN,03/01,Q1008=
16563,ENBO,070520Z,14010KT,NaN,NaN,NaN,NaN,BKN053,NaN,05/M02,Q1002=
10788,ENBO,100250Z,10019KT,NaN,NaN,NaN,NaN,BKN075///,NaN,BKN075///,Q0993=
4174,ENBO,270350Z,09020KT,NaN,CAVOK,NaN,NaN,NaN,NaN,M03/M09,Q1003=