In [1]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_metar as dataframe

#variabler 
#column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed"]

column_names = ["Airport", "Date/time", "Wind/direction", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temp/dewpoint", "QNH/pressure"]
#Henter filene fra data mappa
file_paths = {
    "ENOL": '../data/ENOL_metar_data.json',
    "ENBO": '../data/ENBO_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene {file_path} er lagret i dataframe for {airport}")

df_ENBO = dfs.get("ENBO")
df_ENOL = dfs.get("ENOL")

#Sjekker om dataene er lastet inn i dataframes
df_ENBO.sample(10)

filene ../data/ENOL_metar_data.json er lagret i dataframe for ENOL
filene ../data/ENBO_metar_data.json er lagret i dataframe for ENBO

,Airport,Date/time,Wind/direction,Variable wind,Cloud 1,Cloud 2,Cloud 3,Cloud 4,Cloud 5,Temp/dewpoint,QNH/pressure
4243,ENBO,281420Z,05008KT,NaN,CAVOK,NaN,NaN,NaN,NaN,03/M06,Q1001
461,ENBO,101220Z,31022KT,NaN,NaN,FEW012,SCT017,BKN021,NaN,05/02,Q1019
14654,ENBO,282250Z,29028KT,NaN,NaN,FEW024,SCT037,BKN052,NaN,04/M03,Q1007=
4854,ENBO,100820Z,09015KT,NaN,NaN,NaN,SCT040,BKN050,NaN,07/03,Q0990
6087,ENBO,051220Z,08010KT,NaN,CAVOK,NaN,NaN,NaN,NaN,11/M03,Q1015
13700,ENBO,091020Z,05007KT,NaN,NaN,FEW008,NaN,BKN050,NaN,07/06,Q0995
12297,ENBO,100750Z,14020G34KT,NaN,NaN,FEW040,SCT093,BKN100,NaN,18/10,Q0991
3657,ENBO,160850Z,31020KT,NaN,NaN,NaN,NaN,NaN,NaN,M03/M06,Q1009
16185,ENBO,291050Z,29026KT,NaN,NaN,FEW017CB,SCT030,BKN050,NaN,01/M06,Q1012
6135,ENBO,061150Z,10015KT,NaN,CAVOK,NaN,NaN,NaN,NaN,10/M02,Q1017